<div>
  <h1>Administrador de artículos </h1>

  <table border="1">
    <thead>
      <tr>
        <th>Código</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Borrar</th>
        <th>Seleccionar</th>
      </tr>
    </thead>
    <tbody>
      <tr>

      </tr>
    </tbody>
  </table>
</div>
<br> 
<div>
  <p>
    Código: <input type="number" [(ngModel)]="codigo">
  </p>
  <p>
    Descripción: <input type="text"[(ngModel)]="descripcion">
  </p>
  <p>
    Precio: <input type="number" [(ngModel)]="precio"> €
  </p>
  <p>
    <button (click)="agregar()">Agregar</button>
    <button (click)="elimiinar()">Modificar</button>
  </p>
</div>