<div>
  <h1>Administrador de artículos </h1>

  <table border="1">
    <thead>
      <tr>
        <th>Código</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Borrar</th>
        <th>Seleccionar</th>
      </tr>
    </thead>
    <tbody>
      <tr>

      </tr>
    </tbody>
  </table>
</div>
<br> 
<div>
  <p>
    Código: <input type="number">
  </p>
  <p>
    Código: <input type="numer"> €
  </p>
  <p>
    Código: <input type="number">
  </p>
  <p>
    <button>Agregar</button>
    <button>Modificar</button>
  </p>
</div>